<h1>Department/Home/Index</h1>
<a asp-area="Admin" asp-action="CreateDepartment" asp-controller="Department">Create department</a>
<a asp-area="Admin" asp-action="AllEmployees" asp-controller="Emlpoyee">Employee list</a>