@using MetalcutWeb.Domain.Roles
@using Microsoft.AspNetCore.Identity

@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MetalcutWeb</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="~/MetalcutWeb.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">MetalcutWeb</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1 me-auto">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-action="Index" asp-controller="PlasmaCalculator">Metal plasma cutter</a>
                        </li>
                    </ul>
                    @if (SignInManager.IsSignedIn(User))
                    {
                        var currentUser = await UserManager.GetUserAsync(User);
                        var isAdmin = await UserManager.IsInRoleAsync(currentUser, SD.Role_Admin);
                        var isManager = await UserManager.IsInRoleAsync(currentUser, SD.Role_Manager);
                        var isEmployee = await UserManager.IsInRoleAsync(currentUser, SD.Role_Employee);
                        var isCustomer = await UserManager.IsInRoleAsync(currentUser, SD.Role_Customer);

                        if (isAdmin)
                        {
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="Admin" asp-action="CreateDepartment" asp-controller="Department">Create department</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="Admin" asp-action="AllUsers" asp-controller="Employee">Employee list</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="Manager" asp-action="AllProducts" asp-controller="Product">Product list</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="EmployeeManagement" asp-action="AllDeliveries" asp-controller="DeliveryAccept">Delivery List</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="StorageManagement" asp-action="Index" asp-controller="Storage">Storage Products</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="Customers" asp-action="Index" asp-controller="Order">All Orders</a>
                                </li>
                            </ul>
                        }
                        else if (isManager)
                        {
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="Manager" asp-action="AllProducts" asp-controller="Product">Product list for Manager</a>
                                </li>
                            </ul>
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="Customers" asp-action="Index" asp-controller="Order">All Orders</a>
                                </li>
                            </ul>
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="Manager" asp-action="GetAllServices" asp-controller="Service">All Managers</a>
                                </li>
                            </ul>
                        }

                        else if (isEmployee)
                        {

                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="EmployeeManagement" asp-action="AllDeliveries" asp-controller="DeliveryAccept">Delivery List</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="Customers" asp-action="Index" asp-controller="Order">All Orders</a>
                                </li>
                            </ul>
                        }
 @*                        else
                        {
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-action="GetAllEmployees" asp-controller="Chat">Chat</a>
                                </li>
                            </ul>
                        } *@
                    }
                    <partial name="_LoginPartial.cshtml" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
